<div class="layout layout--col gap p--2">

  <div class="grid grid--cols-3 gap--small h--full">

    <div class="rounded--xsmall flex gap--none flex--col flex--top outline">

      <div class="stretch flex flex--col border--h-1 ">
        <div class="value bg--gray-75 text-stroke text-stroke--large w--full py--2 relative text--center px--2">
          {% assign weather_code = current_weather_code %}
          {% case weather_code %}
          {% when 0 %}{% assign icon = "wb_sunny" %}
          {% when 1, 2 %}{% assign icon = "wb_cloudy" %}
          {% when 3 %}{% assign icon = "cloud" %}
          {% when 45, 48 %}{% assign icon = "foggy" %}
          {% when 51, 53, 55, 61, 63, 65, 80, 81, 82 %}{% assign icon = "rainy" %}
          {% when 71, 73, 75, 77, 85, 86 %}{% assign icon = "ac_unit" %}
          {% when 95, 96, 99 %}{% assign icon = "thunderstorm" %}
          {% else %}{% assign icon = "cloud" %}
          {% endcase %}
          <span class="material-symbols-outlined material-symbols-outlined--large">{{ icon }}</span>
        </div>

        <div class="flex flex--row gap w--full pl--4 pr--2">
          <div class="value stretch">{{ current_temp }}°</div>
          <div class="flex flex--row gap--xsmall text-stroke bg--gray-75 py--1 px--2 rounded--full">
            <span class="material-symbols-outlined">arrow_upward</span>
            <div class="">{{ today_max }}° </div>
          </div>
          <div class="flex flex--row gap--xsmall text-stroke bg--gray-75 py--1 px--2 rounded--full">
            <span class="material-symbols-outlined">arrow_downward</span>
            <div class="">{{ today_min }}°</div>
          </div>
        </div>

      </div>

      <div class="flex flex--row gap--large h--14 value--xxsmall">
        <div class="flex flex--row gap--xsmall text-stroke">
          <span class="material-symbols-outlined">cloud</span>
          <div class="">{{ cloud_cover }}%</div>
        </div>
        <div class="flex flex--row gap--xsmall text-stroke">
          <span class="material-symbols-outlined">humidity_percentage</span>
          <div class="">{{ humidity }}%</div>
        </div>
        <div class="flex flex--row gap--xsmall text-stroke">
          <span class="material-symbols-outlined">accessibility_new</span>
          <div class="">{{ apparent_temp }}°</div>
        </div>
      </div>

    </div>

    <div class="rounded--xsmall flex flex--col gap--none outline">
      <div class="w--full stretch p--3 gap--none flex flex--col border--h-1 flex--between">

        {% for i in (1..4) %}
        <div class="flex flex--row flex--y-center gap--small w--full">

          <div class="value--small">
            {% assign weather_code = forecast_codes[i] %}
            {% case weather_code %}
            {% when 0 %}{% assign icon = "wb_sunny" %}
            {% when 1, 2 %}{% assign icon = "wb_cloudy" %}
            {% when 3 %}{% assign icon = "cloud" %}
            {% when 45, 48 %}{% assign icon = "foggy" %}
            {% when 51, 53, 55, 61, 63, 65, 80, 81, 82 %}{% assign icon = "rainy" %}
            {% when 71, 73, 75, 77, 85, 86 %}{% assign icon = "ac_unit" %}
            {% when 95, 96, 99 %}{% assign icon = "thunderstorm" %}
            {% else %}{% assign icon = "cloud" %}
            {% endcase %}

            <span class="material-symbols-outlined">{{ icon }}</span>
          </div>

          <div class="value--xxsmall">
            {{ forecast_days[i] | date: "%a" }}
          </div>

          <div class="stretch"></div>

          <div class="value--xxsmall">
            {{ forecast_max[i] | round }}° <span class="text--gray-40">/ {{ forecast_min[i] | round }}°</span>
          </div>

        </div>
        {% endfor %}
      </div>

      <div class="flex flex--row flex--between w--full p--4 gap--large h--14 value--xxsmall">
        <div class="flex flex--row gap--xsmall text-stroke">
          <span class="material-symbols-outlined">wb_sunny</span>
          <div class="">{{ sunrise_time }}</div>
        </div>
        <div class="flex flex--row gap--xsmall text-stroke">
          <span class="material-symbols-outlined">moon_stars</span>
          <div class="">{{ sunset_time }}</div>
        </div>
      </div>

    </div>

    <div class="rounded--xsmall flex flex--col gap--none outline">
      <div class="grid grid--cols-2 gap--none">
        <div>
          <div class="flex flex--col w--full p--3 gap--medium stretch">

            <div class="w--full flex flex--row flex--y-center value--xxsmall">
              <div class="flex flex--row flex--left flex--y-center gap--small stretch">
                <span class="material-symbols-outlined">air</span>
              </div>
              <div class="">{{ wind_speed }}{{ wind_unit }}</div>
            </div>

            <div class="w--full flex flex--row flex--y-center value--xxsmall">
              <div class="flex flex--row flex--left flex--y-center gap--small stretch">
                <span class="material-symbols-outlined">explore</span>
              </div>
              <div class="">{{ wind_direction }}°</div>
            </div>

            <div class="w--full flex flex--row flex--y-center value--xxsmall">
              <div class="flex flex--row flex--left flex--y-center gap--small stretch">
                <span class="material-symbols-outlined">nest_sunblock</span>
              </div>
              <div class="">{{ current_uv }}</div>
            </div>

            <div class="w--full flex flex--row flex--y-center value--xxsmall">
              <div class="flex flex--row flex--left flex--y-center gap--small stretch">
                <span class="material-symbols-outlined">water_drop</span>
              </div>
              <div class="">{{ precipitation_chance }}%</div>
            </div>

            <div class="w--full flex flex--row flex--y-center value--xxsmall">
              <div class="flex flex--row flex--left flex--y-center gap--small stretch">
                <span class="material-symbols-outlined">visibility</span>
              </div>
              <div class="">{{ visibility }}{{ visibility_label }}</div>
            </div>

          </div>
        </div>
        <div>

          <div class="flex flex--col w--full p--3 gap--medium stretch">
            {% if snowfall_today > 0 %}
            <div class="w--full flex flex--row flex--y-center value--xxsmall">
              <div class="flex flex--row flex--left flex--y-center gap--small stretch">
                <span class="material-symbols-outlined">ac_unit</span>
              </div>
              <div class="">{{ snowfall_today }} {{ snow_label}}</div>
            </div>
            {% endif %}

            <div class="w--full flex flex--row flex--y-center value--xxsmall">
              <div class="flex flex--row flex--left flex--y-center gap--small stretch">
                <span class="material-symbols-outlined">airwave</span>
              </div>
              <div class="">{{ selected_aqi }}</div>
            </div>

            <div class="w--full flex flex--row flex--y-center value--xxsmall">
              <div class="flex flex--row flex--left flex--y-center gap--small stretch">
                <span class="material-symbols-outlined">fan_indirect</span>
              </div>
              <div class="stretch text--right">{{ pressure }}hPa</div>
            </div>

            <div class="w--full flex flex--row flex--y-center value--xxsmall mt--1 mb--2">
              <div class="flex flex--row flex--left flex--y-center gap--small stretch">
                PM2.5
              </div>
              <div class="stretch text--right">{{ pm25 }}</div>
            </div>

            <div class="w--full flex flex--row flex--y-center value--xxsmall">
              <div class="flex flex--row flex--left flex--y-center gap--small stretch">
                PM10
              </div>
              <div class="stretch text--right">{{ pm10 }}</div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>